body {
    font: 16px / 1.5 sans-serif;
    padding: 0;
    margin: 0;
    min-height: calc(102vh - 20px);
    display: flex;
    flex-direction: column;
    color: #333333;
}

a {
    color: lightblue;
}

.strong {
    font-weight: bold;
}

.small {
    font-size: 0.8rem;
}

.header {
    padding: 0 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: .9rem;
}

.footer {
    margin-top: auto;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
}

.footer__copyright {
    text-align: center;
    font-size: 0.6rem;
}

.main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.main__control-panel {
    flex: 2;
    padding: 20px;
}

.main__show {
    flex: 3;
    order: 1;
    background-image: url('http://picsum.photos/id/1015/700/500');
    border-radius: 10px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --backdrop-filter: blur(10px);
}

.box {
    min-width: 250px;
    padding: 90px 140px;
    background-color: rgba(255, 255, 255, .2);
    color: #ffffff;
    border-radius: 3px;
    backdrop-filter: var(--backdrop-filter);
    text-align: center;
}

.form__group {
    display: flex;
}

.form__label {
    flex: 2;
}

.form__control {
    flex: 4;
}

.form__value {
    flex: 1;
    margin-left: auto;
    padding-left: 10px;
    text-align: right;
}